[submodule "Middlewares/ST/stm32-mw-fatfs"]
	path = Middlewares/ST/stm32-mw-fatfs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs.git
[submodule "STM32Cube_FW_N6/Drivers/stm32n6xx-hal-driver"]
	path = STM32Cube_FW_N6/Drivers/stm32n6xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32n6xx-hal-driver.git
